@import "layout/about.scss";
@import "layout/contact.scss";
@import "layout/sidebar.scss";
@import "layout/socialBar.scss";
@import "layout/keyframes.scss";
@import "layout/_menu.scss";
@import "layout/gallery.scss";
@import "layout/years.scss";
@import "layout/transitions.scss";
@import "layout/program.scss";

*{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
.avenir{
  font-family: 'avenir';
}

h2{
  font-family: 'avenir';
}
@font-face {
  font-family: 'avenir';
  src: url('./assets/font/AvenirLTStd-Medium.otf');
}
@font-face {
  font-family: 'avenir-light';
  src: url('./assets/font/AvenirLTStd-Light.otf');
}