@import "layout/about.scss";
@import "layout/sidebar.scss";
@import "layout/socialBar.scss";


*{
  margin: 0;
  padding: 0;
}
.butler{
  font-family: 'butler';
}

h2{
  font-family: 'butler';
}
@font-face {
  font-family: 'butler';
  src: url('./assets/font/Butler_Medium.otf');
}