.gallery_container{
  background-color: #FFF4F7;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .gallery_paper {
    width: 1223px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .gallery_paper_content{
      max-height: 90%;
    }
  }
}