@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  transition: 1s ease-in-out;
}

.fadeInFast {
  animation-name: fadeIn;
  animation-duration: 0.25s;
  transition: ease-out;
}

// Home Page List

.fadeInMedium {
  animation-name: fadeIn;
  animation-duration: 1s;
  transition: ease-out;
}

.fadeInSlow {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  transition: ease-out;
}



.slideInUpFast {
  animation-name: slideInUp;
  animation-duration:0.25s;
}

.slideInUpMedium {
  animation-name: slideInUp;
  animation-duration:0.50s;
}

.slideInUpSlow {
  animation-name: slideInUp;
  animation-duration:0.75s;
}


@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeftFast {
  animation-name: slideInLeft;
  animation-duration:0.75s;
  transition: 1s ease-out;
}

.slideInLeftMedium {
  animation-name: slideInLeft;
  animation-duration:1.5s;
  transition: 1s ease-out;

}

.slideInLeftSlow {
  animation-name: slideInLeft;
  animation-duration:2.25s;
  transition: 1s ease-out;

}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRightFast {
  animation-name: slideInRight;
  animation-duration:1s;
  transition: 1s ease-out;
}

.slideInRightMedium {
  animation-name: slideInRight;
  animation-duration:1.5s;
  transition: 1s ease-in-out;

}

.slideInRightSlow {
  animation-name: slideInRight;
  animation-duration:2s;
  transition: 1s ease-in-out;

}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-duration:0.5s;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 0.65s;
}