.see-schedule{
    font-size: 16px;
    font-family: Helvetica;
    margin: 10px 0 30px 0;
}

.down-arrow{
    height: 26.62px !important;
    width: 50.99px !important;
    margin: 10px 0 30px 0;
}
.events-video {
    margin: 6% 0 7% 0;
    max-width: 100%;
}
