.see-schedule {
    font-size: 16px;
    font-family: Helvetica;
    margin: 30px 0 20px 0;
}

.program-subheaders {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.program-subcontent {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.down-arrow {
    height: 26.62px !important;
    width: 50.99px !important;
    margin: 10px 0 30px 0;
}

.collapsible-btn {
    height: 80px;
    width: 100%;
    background-color: #EDEDED;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.openings {
    height: 177px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.program-openings {
    font-family: Helvetica;
    font-size: 16px;
}

.program-content {
    height: 856px;
    padding-top:10px;
}

.program-date {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
}
.program-subdate {
    font-family: Helvetica;
    font-size: 14px;
}

.program-card {
    background: #FFFFFF;
    padding: 10px 0;
    margin-bottom: 20px;
}

.events-video {
    margin: 4% 0 0 0;
    max-width: 100%;
}

@media screen and(max-width: 1600px){
    .events-video {
        margin: 6% 0 4% 0;
    }
    .see-schedule{
        font-size: 16px;
        font-family: Helvetica;
        margin: 30px 0 30px 0;
    }
}
@media screen and(max-width: 1440px){
    .events-video {
        margin: 10% 0 4% 0;
    }
    .see-schedule{
        font-size: 16px;
        font-family: Helvetica;
        margin: 30px 0 30px 0;
    }
}

@media screen and(max-width: 1280px){
    .events-video {
        margin: 8.5% 0 2% 0;
    }
    .see-schedule{
        font-size: 16px;
        font-family: Helvetica;
        margin: 30px 0 20px 0;
    }
}

@media screen and(max-width: 768px){
    .events-video {
        margin: 0 0 2% 0;
    }
    .see-schedule{
        font-size: 16px;
        font-family: Helvetica;
        margin: 30px 0 20px 0;
    }
}
