.side_bar__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .page_title__item {
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    font-family: Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 4px;
    transform: rotate(90deg);
  }

}

  